<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= @category.photo.attached? ? cl_image_path(@category.photo.key, crop: :fill) :
image_path("https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", crop: :fill) %>);">

  <div>
    <h1><%= @category.name %></h1>
  </div>
</div>

<div class="category-header">
  <h2>Recipes</h2>
  <%= link_to "Add a new Recipe", new_category_bookmark_path(@category, @bookmark), class: "create-btn" %>
</div>


<div class="recipe-container">

  <% @category.recipes.each do | recipe | %>

      <div class="recipe-card">
        <div class="recipe-image">
          <img src="<%= recipe.image_url %>" alt="recipe-image">
        </div>

        <div class="recipe-content">
          <h2 class="recipe-title"><%= recipe.name %></h2>
          <p class="recipe-description"><%= recipe.description.truncate(200) %></p>
        </div>


        <div class="recipe-footer">
          <span class="user-comment"><strong><p> <%= recipe.bookmarks.find { | bookmark | bookmark.recipe_id == recipe.id }.comment %> </p></strong></span>
          <span class="rating"><%= "#{recipe.rating}⭐️" %></span>

          <% bookmark = recipe.bookmarks.select { | bookmark | bookmark.category_id == @category.id } %>

          <%= link_to category_bookmark_path(@category, bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-icon" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
  <% end %>





</div>
<%= link_to "Delete this Category", category_path, class: "destroy-btn justify-content-center", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
